@font-face {
  font-family: "LeagueGothic";
  src: url("../fonts/LeagueGothic-CondensedRegular.otf") format("woff2"), url("../fonts/LeagueGothic-Regular.otf") format("woff"), url("../fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Black.ttf") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.con3 {
  position: relative;
  z-index: 1000;
  background-color: #f3f3f3;
  margin-top: 0;
}
.con3 .steps {
  position: relative;
  height: 120vh;
  padding: 2rem 0;
  background-color: inherit;
}
.con3 .step-counter {
  position: absolute;
  top: 2rem;
  left: 2rem;
  display: flex;
  flex-direction: column;
  z-index: 1010;
}
.con3 .step-counter .counter-title,
.con3 .step-counter .count {
  position: relative;
  width: 1200px;
  height: 110px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  overflow: hidden;
}
.con3 .step-counter .count {
  position: relative;
  top: -10px;
}
.con3 .step-counter .count-container {
  position: relative;
  transform: translateY(110px);
}
.con3 .step-counter h1 {
  width: 100%;
  position: relative;
  color: #222222;
  text-transform: uppercase;
  font-family: "PP Monument Extended";
  font-weight: 900;
  font-size: 100px;
  line-height: 1;
  letter-spacing: -0.04em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.con3 .incards {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150vw;
  height: 600px;
  z-index: 1005;
}
.con3 .incard {
  position: absolute;
  width: 500px;
  height: 550px;
  left: 50%;
  top: 50%;
  transform-origin: center center;
  margin-left: -250px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  z-index: inherit;
  background-color: none;
}
.con3 .incard-img {
  flex: 1;
  background-color: #fff;
  border-radius: 0.5em;
  overflow: hidden;
}
.con3 .incard-content {
  width: 100%;
  height: 60px;
}
.con3 .incard h2 {
  text-align: left;
  color: #000;
  font-family: "Pretendard";
  font-size: 20px;
  font-weight: 700;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.con3 .incard p {
  text-align: left;
  color: #000;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.empty {
  opacity: 0;
}

.outro {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #000000, #364549);
  background-size: 200% 200%;
}
.outro p {
  font-family: "LeagueGothic";
  width: 75%;
  text-align: center;
  color: #000;
  font-size: 52px;
  font-weight: 400;
  line-height: 1.125;
}
.outro p span {
  color: #00bbff;
}

.website-content {
  position: relative;
  z-index: 100;
  margin-bottom: 0;
}